{% extends 'base.html' %}

{% block title %}
Услуги
{% endblock title %}

{% block styles %}
<style>
    h4 {
        text-align: center;
    }
    p {
        text-align: center;
        margin-bottom: 8px;
    }
    .cards {
        justify-content: space-around;
    }
    .card {
        display: block;
        padding: 10px;
        margin-bottom: 50px;
        height: 200px;
        width: 200px;
        background-color: rgba(240, 255, 255, 0.5);
        border-radius: 15px;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="row cards">
    <a class="col-12 col-md-6 col-lg-4 col-xl-3 card" href="#">
        <h4>Скрипт</h4>
        <p>Язык: Python</p>
        <p>1 файл</p>
        <p>до 50 строк кода</p>
        <p>от 50 руб</p>
    </a>
    <a class="col-12 col-md-6 col-lg-4 col-xl-3 card" href="#">
        <h4>Программа</h4>
        <p>Язык: Python</p>
        <p>1 файл</p>
        <p>50-250 строк кода</p>
        <p>от 250 руб</p>
    </a>
    <a class="col-12 col-md-6 col-lg-4 col-xl-3 card" href="#">
        <h4>Приложение</h4>
        <p>Язык: Python</p>
        <p>n файлов</p>
        <p>50-250 строк кода</p>
        <p>от 500 руб</p>
    </a>
    <a class="col-12 col-md-6 col-lg-4 col-xl-3 card" href="#">
        <h4>Проект</h4>
        <p>Язык: Python</p>
        <p>n файлов</p>
        <p>250-1000 строк кода</p>
        <p>от 1000 руб</p>
    </a>
</div>
{% endblock content %}